@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Nav sections here  */

.nav {
    height: 10vh;
    width: 100%;
    color: black;
    position: relative;
    z-index: 1;
    top: 66px;
    border-radius: 6px;
    border: 1px solid rgb(70, 68, 68);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 20px 1px black;
}

.nav-title {
    width: 30%;
    display: flex;
    color: white;
    justify-content: center;
    gap: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(250, 247, 251);
    border-radius: 30px;
    background-color: rgb(241, 229, 229);
    padding: 2px;
}

.nav-title h1 {
    font-family: "poppins";
    font-weight: 600;
}

.nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;

}

.nav-btns {
    padding-right: 10px;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.nav-left .login-btn {
    width: 85px;
    height: 39px;
    border-radius: 20px;
    font-family: Poppins, Arial;
    font-weight: 700;
    font-size: 19px;
    background: rgba(255, 255, 255, 0.723);
}

.user-profile-btn {
    width: 40px;
    height: 40px;
    outline: none;
    /* padding: 5px; */
    border-radius: 30px;
    background-color: #1E1E1E;

}

.user-profile-img {
    width: 100%;
}


/*  navbar search fieids  */
.nav-inputs {
    /* border: 1px  solid red ; */
    display: flex;
    justify-content: end;
    position: relative;
    left: 200px;
    width: 50%;
    gap: 10px;
}

.search {
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
    border: 0.3px solid white;
    border-radius: 30px;
    color: white;
    padding-left: 30px;
    font-weight: 600;
}

.search-img {
    width: 38px;
    filter: invert(1);

}


/* home  sections  */
/* .differentiator {
    content: "";
    display: flex;
    width: 100%;
    height: 8px; 
    background-color: #424242;
} */

main {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.home {
    width: 99vw;
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    background-color: #1E1E1E;
    color: white;
}

.home-bgimg {
    position: absolute;

    width: 90vw;
    height: 80vh;
    object-fit: cover;
    position: relative;
    left: 128px;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 0.8) 45%, rgba(0, 0, 0, 0) 99%);
    -webkit-mask-image: linear-gradient(to left, rgb(12, 12, 12) 40%, rgba(36, 35, 35, 0.0.1) 100%);

}

.home-contianer {
    width: 100%;
    position: relative;
    bottom: 395px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;

    background-color: transparent;
}

.contianer-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-left: 15px;
    gap: 10px;
    height: 100%;
    flex-direction: column;


}

.contianer-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.home-anime-details {
    display: flex;
    text-align: center;
    position: relative;
    gap: 20px;
    align-items: center;
    padding-bottom: 4px;
    font-family: "poppins", Arial;
    font-weight: 600;
    font-size: 12px;
    border-bottom: 0.1px solid white;
}

.h-icons {
    width: 15px;

    text-align: center;

}

.date-icon {
    width: 22px;
}

.h-anime-info {
    /* display: flex; */

}

.h-anime-title h1 {
    margin-top: 10px;
    font-family: "poppons", Arial;
    font-weight: 600;
    font-size: 30px;
}

.h-anime-description {
    padding-top: 20px;
    font-family: "poppons", Arial;
    font-size: 13px;
}

.h-btns {
    position: relative;
    top: 100px;
    gap: 10px;
    display: flex;
}

.watch-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", serif;
    font-weight: 300;
    gap: 7px;
    color: rgb(252, 245, 245);
    background-color: rgba(255, 255, 255, 0.116);
    outline: none;
    border: 0.1px solid white;
    border-radius: 30px;
    width: 140px;
    height: 40px;

}

.details-btn {

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", serif;
    font-weight: 300;
    gap: 7px;
    color: rgb(252, 245, 245);
    background-color: rgba(255, 255, 255, 0.116);
    outline: none;
    border: 0.1px solid white;
    border-radius: 30px;
    width: 110px;
    height: 40px;


}

.watch-btn img {
    width: 28px;

}

.details-btn img {
    width: 18px;
    filter: invert(1);

}

/*  middle sectons  */

.middle-section {
    /* border: 1px solid red; */
    width: 100%;
    min-height: 80vh;
    background: #131212;


}

.m-title {
    color: white;
    font-family: "poppins", arial;
    font-weight: 600;
    position: relative;
    left: 20px;
    bottom: -20px;

}

.cards-box {
    margin-top: 40px;
    min-width: 100%;
    height: 100%;
    display: flex;
    overflow-y: auto;
    /* border: 1px solid red ; */
    padding: 10px 0px 0px 10px;
    gap: 13px;
    color: white;
    justify-content: start;
    align-items: center;

}

.cards-box::-webkit-scrollbar {
    display: none;
}

.card-item {
    width: 40%;
    height: 60vh;
    backdrop-filter: blur(20px);
    /* overflow-y: hidden; */
    border: 0.1px solid white;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.024);
}

.c-img {
    width: 62vh;
    height: 70%;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0) 99%);
    -webkit-mask-image: linear-gradient(to bottom, rgb(12, 12, 12) 70%, rgba(36, 35, 35, 0) 100%);
}


.c-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 5px;

    justify-content: start;

}

.c-title {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 600;
    font-family: "poppins", Arial;

}

.c-text {
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    font-family: "poppins";

}

.c-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    gap: 8px;
}

.c-date-icon {
    width: 20px;
}

.card-icons {
    width: 10px;
}

.c-icons-text {
    font-size: 8px;

}




/* Movies sections  */

.movies-section {
    width: 100vw;
    height: 90vh;
    background: transparent;
}


.m-bg {
    width: 100%;
    height: 100%;
}

.m-bg-img {
    width: 100%;
    height: 100%;
}

.m-container {
    width: 100%;
    color: white;
    
    height: 100%;
    background: rgba(10, 10, 10, 0.709);
    position: relative;
    z-index: 1;
    top: -587px;
}

.m-cards {
    min-width: 100vw;
    height: 70vh;
    
    overflow-y: auto;
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 33px;

}
.m-cards::-webkit-scrollbar{
    display: none;
}
.m-card-items {
    backdrop-filter: blur(2px);
    width:41vw;
    min-height: 55vh;
    border-radius: 4px;
    border: 0.1px solid rgba(249, 252, 249, 0.281);


}

.m-card-img {
    width: 30vw;
    border-radius: 4px;
    height: 40vh;
    object-fit: cover;
}

.m-c-body {

    padding-left: 8px;
    font-size: 10px;
}

.m-c-title {
    padding-top: 10px;
    font-family: "poppins", Arial;
    font-weight: 400;

}

.m-c-text {
    font-family: "poppins", Arial;
    font-weight: 300;

}

